<h1><%= @moo.classes %></h1>


<p><%= @moo.description %></p>

<p>

    <a href="<%= edit_moo_path(@moo.id) %>" >éditer le cour</a>

</p>

<p>

    <a href="<%= moos_path %>" >revenir aux cours</a>

</p>